/* Section 'FontFace' */
@font-face {
	src: url('../fonts/OpenSans-Regular.ttf');
	font-family: 'OpenSans Regular';
}
@font-face {
	src: url('../fonts/OpenSans-Italic.ttf');
	font-family: 'OpenSans Italic';
}
@font-face {
	src: url('../fonts/OpenSans-Bold.ttf');
	font-family: 'OpenSans Bold';
}
@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf');
	font-family: 'OpenSans SemiBold';
}
@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf');
	font-family: 'OpenSans ExtraBold';
}

/* Section HTML  */
body {
    font-family: 'OpenSans Regular', Arial, Helvetica, sans-serif;
    margin: 0;
}
/* p {
	margin: 0;
	font-family: 'OpenSans Regular';
	font-size: 16px;
	line-height: 28px;
} */

/* Block - header */
header {
    box-sizing: border-box;
    max-width: 1250px;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0,0.8);
    margin: 1% auto;
}
.header-block {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}
.header-block > a {
	padding: 39px 30px 30px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.header-block > a:hover {
	background-color: #ff3f40;
}


/* 
.body-block {
    margin-top: 110px;;
    min-width: 1254px;
    width: 100%;
}
.body-block-info {
    vertical-align: top;
    display: inline-block;
    width: 60%;
}
.body-head-text {
    font-size: 60pt;
    font-family: Georgia;
}
.body-description-text {
    margin-top: 60px;
    font-size: 12pt;
    font-family: Georgia;
}
.body-block-buttom-text {
    display: inline-block;
    color: white;
    font-size: 18pt;
    margin: 13px;
}
.body-block-buttom {
    margin-top: 60px;
    text-align: center;
    display: inline-block;
    width: 227px;
    height: 55px;
    background-color: rgb(255,45,45);
}
img {
    display: inline-block;
    width: 551px;
    height: 356px;
}
*/

/* Section Footer */
.foother {
    width: 100%;
}

.footer_social {
    width: 30px;
    height: 30px;
    /* background-color: rgb(0,0,0,0.8);; */
}

.footer-block {
	box-sizing: border-box;
	padding: 19px 60px 0;
	color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 110px;
	background-color: #2c2c2c;
} 

.footer-block-social {
    display: flex;
}