/* Section 'FontFace' */
@font-face {
	src: url('../fonts/OpenSans-Regular.ttf');
	font-family: 'OpenSans Regular';
}
@font-face {
	src: url('../fonts/OpenSans-Italic.ttf');
	font-family: 'OpenSans Italic';
}
@font-face {
	src: url('../fonts/OpenSans-Bold.ttf');
	font-family: 'OpenSans Bold';
}
@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf');
	font-family: 'OpenSans SemiBold';
}
@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf');
	font-family: 'OpenSans ExtraBold';
}

/* Section HTML  */
body {
    font-family: 'OpenSans Regular', Arial, Helvetica, sans-serif;
    flex-direction: column;
    min-height: 100vh;
    word-break: break-word;
}
h1 {

}
h2 {

}

p {
    font-size: 16px;
    color: #585858;
}

/*  Main block */
.header-div,
.page-content,
.page-content-intro,
.page-content-service,
.page-content-feature,
.footer-div {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.backgroud-color-grey {
    background-color: #e0e0e0;
}
.backgroud-color-grey-header {
    background-color: #e0e0e0;
    padding-top: 10px;
    padding-bottom: 90px;
}

/* 
#############################################
##########   Block - Header   ###############
############################################# 
*/

.header-div {
    margin-top: 10px;
    justify-content: center;
    min-height: 89px;
    background-color: rgb(0,0,0);
}
.header-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    align-items: stretch;
}
.header-block > a {
    padding: 35px 30px 35px 30px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
.header-block  > a:hover {
    background-color: #ff3f40;
} 

/* 
#############################################
##########   Block - Page   #################
############################################# 
*/

/* ----- INTRO ----- */
.page-content-intro {
    padding-top: 60px;
    padding-bottom: 60px;
}
.intro-content {
    display: flex;
    max-width: 617px;
    flex-flow: column wrap;
    font-weight: 800;
    margin-right: 30px;
}
/* ----- INTRO left ----- */
.intro-content-header {
    font-size: 60px;
    font-weight: bold;
    font-family: 'OpenSans ExtraBold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.intro-content-description {
    margin-top: 20px;
}
.intro-content-buttom {
    color: white;
    font-size: 18px;
    margin: 13px;
    margin-top: 40px;
    width: 227px;
    height: 55px;
    background-color: rgb(255,45,45);
    box-sizing: border-box;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}
/* ----- INTRO right ----- */
.intro-img {
    display: flex;
    width: 600px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}
.intro-img > img {
    width: 551px;
    height: 356px;
    box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
}

/* ########## SERVICE ########## */
.page-content-service {
    margin-top: 40px;
}
/* ---------- SERVICE left ---------- */
.service-content {
    display: flex;
    width: 600px;
    flex-flow: column wrap;
    margin-right: 40px;
}
.service-content-header {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.service-content-description {
    margin-top: 40px;
}
.service-content-buttom {
    color: #ff3f40;
    font-size: 15px;
    margin: 13px;
    margin-top: 40px;
    width: 227px;
    height: 55px;
    background-color: #ffffff;
    border: 2px solid #ff3f40;
    box-sizing: border-box;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}
/* ---------- SERVICE right ---------- */
.service-block-right {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    max-width: 609px;
}
.service-right-block {
    display: flex;
    margin-right: 20px;
    flex-flow: column wrap;
    max-width: 280px;
}
.service-right-block-img {
    justify-content: flex-end;
}
.service-right-block-header {
    margin: 20px 0;
    /* font-family: 'OpenSans Bold', Arial, Helvetica, sans-serif; */
    font-size: 22px;
}
.service-right-block-descriptions {
    margin-bottom: 20px;
}
.line {
    padding: 60px 0;
    border-bottom: 1px solid #ececec;
}

.page-content-feature {
    padding-top: 94px;
	padding-bottom: 52px
}
.feature-head {

}

/* background-color: #e24a4a; */
/* 
#############################################
########   Block - Footer   #################
############################################# 
*/

footer {
    background-color: rgb(0,0,0,0.8);
    color: #e0e0e0;
    text-decoration: none;
}
.footer-div {
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 2% 0 2%;
}
.footer-div > .footer-block-social {
    display: flex;
    flex-flow: row wrap;
}
.footer_social {
    margin: 0 5px;
    width: 30px;
    height: 30px;
}  
